<html>
<head>
  <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script src="<%= htmlWebpackPlugin.files.js[i] %>" async></script>
  <% } %>
  <meta charset="utf-8">
</head>
<body id="body">
  <div id="flames">
    <h1 id="flameTitle">Flame Calculator</h1>
    <div><input type="checkbox" id="isEternal"></input><label for="isEternal">Eternals</label></div>
    <div><input type="checkbox" id="isWeapon"></input><label for="isWeapon">Weapon</label></div>
    <div><input type="checkbox" id="isFlameAdvantaged"></input><label for="isFlameAdvantaged">Flame advantaged</label></div>
    <div><input type="checkbox" id="isXenon"></input><label for="isXenon">Xenon</label></div>
    <div><input type="number" id="level"></input><label for="level">Item level</label></div>
    <div><input type="number" id="flameThreshold"></input><label for="flameThreshold">Flame threshold</label></div>
    <div><input type="number" id="attackWeight"></input><label for="attackWeight">Attack Weight</label></div>
    <div><input type="number" id="allStatWeight"></input><label for="allStatWeight">All stat Weight</label></div>
    <div><input type="number" id="secondaryWeight"></input><label for="secondaryWeight">Secondary Stat Weight</label></div>
    <div><input type="number" id="bossWeight"></input><label for="bossWeight">Boss Weight</label></div>
    <div><input type="number" id="attackPower"></input><label for="attackPower">Base weapon attack</label></div>
    <button id="calculateFlames">Calculate</button><label for="calculateFlames"></label>
    <div id="expectedFlamesToEqual"><span id="expectedFlamesToEqual"></span></div>
    <div id="expectedFlamesToBeat"><span id="expectedFlamesToBeat"></span></div>
    <div id="expectedFlameGain"><span id="expectedFlameGain"></span></div>
  </div>
  <div id="cubes">
    <h1 id="cubeTitle">Cube Calculator</h1>
    <div><input type="checkbox" id="isBpot"></input><label for="isBpot">Bonus Potential</label></div>
    <div><input type="checkbox" id="isTier4"></input><label for="isTier4">Item level 151+</label></div>
    <div>
      <select name="equipType" id="equipType">
        <option value="weapon">Weapon</option>
        <option value="secondary">Secondary</option>
        <option value="emblem">Emblem</option>
        <option value="accessory">Accessory</option>
        <option value="hat">Hat</option>
        <option value="top">Top</option>
        <option value="pants">Pants</option>
        <option value="shoes">Shoes</option>
        <option value="gloves">Gloves</option>
        <option value="shoulder">Shoulder</option>
        <option value="cape">Cape</option>
        <option value="belt">Belt</option>
        <option value="heart">Heart</option>
        <option value="badge">Badge</option>
      </select>
      <label for="equipType">Equip Type</label>
    </div>
    <div><input type="number" id="characterLevel"></input><label for="characterLevel">Character Level</label></div>
    <div><input type="number" id="cubeThreshold"></input><label for="cubeThreshold">Threshold (%Stat for WSE %Att for non-WSE)</label></div>
    <h3>Weapon / Secondary / Emblem</h3>
    <div><input type="number" id="bossRatio"></input><label for="bossRatio">%Boss = 1% Att</label></div>
    <div><input type="number" id="iedRatio"></input><label for="iedRatio">%Ied = 1% Att</label></div>
    <div><input type="number" id="percentStatRatio"></input><label for="percentStatRatio">%Stat = 1% Att</label></div>
    <div><input type="number" id="critRateRatio"></input><label for="critRateRatio">%Crit Rate = 1% Att</label></div>
    <h3>Bonus Potential / Glove</h3>
    <div><input type="number" id="attRatio"></input><label for="attRatio">Stat = 1 Att</label></div>
    <div><input type="number" id="secondaryRatio"></input><label for="secondaryRatio">Stat = 1 2ndary Stat</label></div>
    <div><input type="number" id="tertiaryRatio"></input><label for="tertiaryRatio">Stat = 1 3rdary Stat</label></div>
    <div><input type="number" id="statRatio"></input><label for="statRatio">Stat = 1% Stat</label></div>
    <div><input type="number" id="critDmgRatio"></input><label for="critDmgRatio">%Stat = 1% Crit Dmg</label></div>
    <div><input type="number" id="speedInfusionRatio"></input><label for="speedInfusionRatio">%Stat = Speed Infusion</label></div>
    <div><input type="number" id="sharpEyesRatio"></input><label for="sharpEyesRatio">%Stat = Sharp Eyes</label></div>
    <h3>Misc</h3>
    <div><input type="number" id="cooldownRatio"></input><label for="cooldownRatio">%Stat = -1 Cooldown Reduction</label></div>
    <div><input type="number" id="percentSecondaryRatio"></input><label for="percentSecondaryRatio">%Stat = 1% 2ndary Stat</label></div>
    <div><input type="number" id="percentTertiaryRatio"></input><label for="percentTertiaryRatio">%Stat = 1% 3rdary Stat</label></div>
    <div><input type="number" id="hpRatio"></input><label for="hpRatio">%Stat = 1% HP</label></div>
    <div><input type="number" id="mpRatio"></input><label for="mpRatio">%Stat = 1% MP</label></div>
    <button id="calculateCubes">Calculate</button><label for="calculateCubes"></label>
    <div id="expectedFirstCubesToEqual"><span id="expectedFirstCubesToEqual"></span></div>
    <div id="expectedFirstCubesToBeat"><span id="expectedFirstCubesToBeat"></span></div>
    <div id="expectedFirstCubeGain"><span id="expectedFirstCubeGain"></span></div>
    <div id="expectedSecondCubesToEqual"><span id="expectedSecondCubesToEqual"></span></div>
    <div id="expectedSecondCubesToBeat"><span id="expectedSecondCubesToBeat"></span></div>
    <div id="expectedSecondCubeGain"><span id="expectedSecondCubeGain"></span></div>
  </div>
</body>
</html>
