html {
    font-size: 100%;
}

body {
    font-size: 1em;
    display: flex;
}

#flames {
    margin-right: 50px;
}

#expectedFirstCubeGain {
    margin-bottom: 5px;
}

h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    margin-bottom: 5px;
}

select {
    margin-bottom: 5px;
}

input[type=number] {
    width: 70px;
}

label {
    margin-left: 5px;
}